<h1>Blog Posts!</h1>
<%= page_entries_info @posts %>

<% @posts.each do |post| %>
    <p><%= link_to post.title, post_path(post) %><br>
    by: <%= post.author.name %></p>
    <p><%= post.description %></p>
  </div>
<% end %>
